/********** Base styles **********/
* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica;
}

h1 {
  margin-bottom: 15px;
  text-align: center;
  font-size: 175%;
}

.row {
  width: 100%;
}

div.content {
  margin: 10px;
  border: 1px solid black;
  background-color: #999DA0;
  padding: 20px;
}

h2 {  
  position: relative;
  float: right;
  margin-top: 0;  
  right: -21px;
  top: -21px;
  width: 150px;
  border: 1px solid black;
  text-align: center;
  font-size: 125%;
}

#chicken {
  background-color: #FCC7CF;
}
#beef {
  background-color: #BF0000;
}
#sushi {
  background-color: #F9E29C;
}

p {
  clear: right;
}

/********** Large devices only **********/
@media (min-width: 992px) {
  .col-lg-4 {
    width: 33.33%;
    float: left;
  }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6 {
    float: left;
    width: 50%;
  }
  #col-sushi {
    width: 100%;
  }
}

/********** Small devices only **********/
@media (max-width: 767px) {
  .col-sm-12 {
    float: left;
    width: 100%;
  }
}
